*.bld
*.lso
*.cmd_log
*.ngc
*.ngd
*.ngr
*.pcf
*.par
*.pad
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.gise
*.xwbt
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.html
*.xml
*.lst
*.xmsgs
*.bgn
*.drc
*.log
*.xbcd
*.vdbl
*.vdbx
*.ncd
