*.bld
*.lso
*.cmd_log
*.ngd
*.ngr
*.pcf
*.par
*.pad
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xpi
*.xst
*.gise
*.xwbt
*.map
*.mrp
*.ngm
*.xrpt
*.csv
*.txt
*.html
*.xml
*.lst
*.xmsgs
*.bgn
*.drc
*.log
*.xbcd
*.vdbl
*.vdbx
*.ncd
VmodCAM_Ref.ngc
*.cgc
*.asy
ipcore_dir/true_dp_mem128x1.xco
*.sh
*.bat
*.tcl
*.scr
ipcore_dir/true_dp_mem128x1/simulation/addr_gen.vhd
ipcore_dir/true_dp_mem128x1/simulation/bmg_stim_gen.vhd
ipcore_dir/true_dp_mem128x1/simulation/checker.vhd
ipcore_dir/true_dp_mem128x1/simulation/bmg_tb_pkg.vhd
ipcore_dir/true_dp_mem128x1/simulation/data_gen.vhd
*.do
*.key
*.sv
ipcore_dir/true_dp_mem128x1/simulation/random.vhd
ipcore_dir/true_dp_mem128x1/simulation/true_dp_mem128x1_synth.vhd
ipcore_dir/true_dp_mem128x1/simulation/true_dp_mem128x1_tb.vhd
*.xdc
ipcore_dir/true_dp_mem128x1/example_design/true_dp_mem128x1_exdes.ucf
ipcore_dir/true_dp_mem128x1.xise
ipcore_dir/true_dp_mem128x1/doc/pg058-blk-mem-gen.pdf
ipcore_dir/true_dp_mem128x1/example_design/true_dp_mem128x1_exdes.vhd
ipcore_dir/true_dp_mem128x1/example_design/true_dp_mem128x1_prod.vhd
*.sdbl
*.sdbx
*.in
*.out
*.edif
*.psg
*.wdf
*.wpc
*.ppr
*.jou
*.html
*.xreport
*.html
*.xreport
*.xreport
VmodCAM_Ref_envsettings.html
*.cmd
isim/pn_info
*.dbg
*.dll
*.dat
*.exe
isim/test_counter_isim_beh.exe.sim/tmp_save/_1
*.c
*.didat
*.obj
*.sdb
*.wdb
*.ini
isim/test_aes_128_isim_beh.exe.sim/tmp_save/_1
*.vhi
oneBitXOR.vhd
oneBitXor.v
test_aes_128.v
